.notification {
    position: fixed;
    top: 0;
    padding: 0 rem-calc(20);
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    height: rem-calc(40);
    width: 100%;
    background-color: white;
    color: black;
    &.--error {
        color: red;
    }
    & > .__close {
        cursor: pointer;
    }
}
