$primary: #d17762;

$button-primary: rgba(0, 0, 0, 0.09);

$button-primary-hover: rgb(147 8 8 / 25%);

$border-color: #d8d8d8;

$grey-text: #9b9b9b;

$gutter: 16px;

$section-width: 80vw;

$alert: #ff6f60;
